---
title: About Superior Bands
---

<section class="m-title">
	<div class="container">
		<h1>About Superior Bands</h1>
	</div>
</section>

<div class="container margin-sm l-about-history">
	<div class="row margin-sm">
		<div class="col-xs-12">
			<h3 id="history">Our History</h3>
			<h5>Est. 1953</h5>
			<p>
				Since 1953 Superior Bands has been perfecting the Art and Science of making Round Elastic Rope Belts. Superior Band's belts encompass three major industries on several different manufacturer's machines: Textile Machines, Plastic Bag Making Equipment, Line Conveyor Machines.
			</p>
			<p>
				In the very early years of Superior Bands, textiles were a driving force in the South. Superior Bands focused on this industry by developing the Three Ply Rubber Covering Machine Belt that became the industry standard. For decades this was the primary belt for Superior Bands, but as textiles were taken overseas, the entire textile industry in the United States declined.
			</p>
			<p>
				During that time, Superior Bands was developing a belt for the Plastic Bag Industry, specifically for Wicketer Machines. Several plastic bag equipment manufacturers recognized the durability and flexibility of Superior Bands and are using our belts to this day.
			</p>
			<p>
				Most recently, Superior Bands has been having an increased interest in our Round Rope Elastic Belts for the Line Shaft / Live Roller conveyors. The ease of application, better functioning and durability are showing what we realized in the beginning....that our Round Rope Elastic Belts out perform Plastic Twisted O-Rings
			</p>
		</div>
	</div>
	<div class="row margin-sm">	
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'about-1.jpg', :class=>'margin-sm' %>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'about-2.jpg', :class=>'margin-sm' %>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'about-3.jpg', :class=>'margin-sm' %>
		</div>
	</div>
</div>

<section class="l-about-quote">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>
					 The largest machine manufacturers in the United States utilize our belts in their production models. Textile Machines, Plastic Bag Making Machines, and Material Handling Conveyor Machines count on our belts to create and move products.
				</p>
				<!-- <h5>- John Doe, President</h5> -->
			</div>
		</div>
	</div>
</section>

<!--

<seciton class="l-about-team">
	<div class="container margin-lg">
		<div class="row margin-xs">
			<div class="col-xs-12">
				<h3 id="team" class="u-text-center">Our Team</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="m-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>John Doe</h4>
					<h5>Job title<span>email@website.com</span></h5>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>			
					<a class="social" target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="m-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>John Doe</h4>
					<h5>Job title<span>email@website.com</span></h5>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>			
					<a class="social" target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="m-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>John Doe</h4>
					<h5>Job title<span>email@website.com</span></h5>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>			
					<a class="social" target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-2">
				<div class="m-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>John Doe</h4>
					<h5>Job title<span>email@website.com</span></h5>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>			
					<a class="social" target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="m-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>John Doe</h4>
					<h5>Job title<span>email@website.com</span></h5>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>			
					<a class="social" target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

-->

<section class="m-cta">
	<h4>Contact Superior Bands, TODAY, for engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>