---
title: Identification Bands
---

<section class="m-title">
	<div class="container">
		<h1>Identification Bands</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<p>
				We can make any length identification band to fit your cans. All the information we need is the diameter for your cans.
			</p>
			<p>
				We sell identification bands in a variety of colors. These colors include Royal Blue, sky blue, fluorescent orange, fluorescent green, green, white, yellow, pink, purple and red. These colors are available in 1” and 2” width. We also have 1 ¾” material in Orange with a white stripe, Red with a white stripe and black with a white stripe. At an extra charge we can also prints the bands with things like swirls to make it easier for identification throughout your production process. 
			</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'bands-1.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'bands-2.jpg' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Textile Industry</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Woolen Twister Head Bands', 'woolen-twister-head-bands.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Arnold Machine Belts', 'arnold-machine-belts.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>