<section class="l-hero">
	<div class="slick-wrapper">
		<div>
			<div class="container">	
				<div class="u-forground">
					<h1>Superior Brands manufactures high quality belts for</h1>
					<h3>Textile machines. Plastic Bag Making Equipment. Line Conveyer Machnes.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
		<div>
			<div class="container">	
				<div class="u-forground">
					<h2>Seconds Message about us</h2>
					<h3>Lorem ipsum Ea ea do velit sunt mollit.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
		<div>
			<div class="container">	
				<div class="u-forground">
					<h2>Third Message about us</h2>
					<h3>Lorem ipsum Ea ea do velit sunt mollit.</h3>
				</div>
			</div>
			<%= image_tag 'example.jpg' %>
			<div class="u-screen black"></div>
		</div>
	</div>
</section>

<section class="l-home-splash">
	<div class="container">
		<div class="row margin-md">
			<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="l-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>Words and Stuff</h4>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>
					<%= link_to 'Learn More', 'javascript:void(0);', :class=>'u-btn black' %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="l-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>Words and Stuff</h4>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>
					<%= link_to 'Learn More', 'javascript:void(0);', :class=>'u-btn black' %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="l-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>Words and Stuff</h4>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>
					<%= link_to 'Learn More', 'javascript:void(0);', :class=>'u-btn black' %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="l-point">
					<%= image_tag 'http://placehold.it/320x320' %>
					<h4>Words and Stuff</h4>
					<p>
						Lorem ipsum Eiusmod culpa amet in in qui in Ut veniam adipisicing eiusmod aute occaecat Ut ad fugiat qui esse do aute ullamco.
					</p>
					<%= link_to 'Learn More', 'javascript:void(0);', :class=>'u-btn black' %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="l-home-message">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h3>Superior Quality</h3>
				<p>
					we are a simple company out of South Carolina with strong roots in the textile industry. We operate our factory from a simple model focusing on quality and doing it right the first time. We know good quality because we make the string that makes our yarn that makes our belts.
				</p>
				<h4>We use American made materials with American Labor.</h4>
				<p>
					We have quality control in place in each production phase. The belt that leaves our production floor and puts your production floor to work was created from the ground up, with classic simple principles of quality and creating a product the right way every time.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="l-home-panels">
	<div class="container">
		<div class="row margin-lg">
			<div class="row-height">
				<div class="col-xs-12 col-sm-height col-sm-6">
					<a href="javascript:void(0);" class="u-panel l-home-panel-1">
						<div class="u-screen black"></div>
						<p>
							Twisted O-Rings
						</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-height col-sm-6">
					<a href="javascript:void(0);" class="u-panel l-home-panel-2">
						<div class="u-screen black"></div>
						<p>
							Polyurethane O-Rings
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="m-cta">
	<h4>For product inquiries please email us</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-wrapper').slick({
        arrows: false,
        autoplay: true,
        dots: true,
        speed: 600,
        autoplaySpeed: 2500,
        adaptiveHeight: true
      });
    });
  </script>