---
title: Material Handling
---

<section class="m-title">
	<div class="container">
		<h1>Material Handling</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-md">
		<div class="col-xs-12">	
			<ul ezt="1" class="ezt-nav">
				<li><a href="javacsript:void(0);" class="ezt-active">Twisted O-Rings</a></li>
				<li><a href="javacsript:void(0);">Quick Connect Bolts</a></li>
				<li><a href="javacsript:void(0);">Polyurethane O-Rings</a></li>
				<li><a href="javacsript:void(0);">Spools</a></li>
			</ul>

			<div ezt="1" class="ezt-container l-root-tab-body">
				<div class="ezt-content ezt-active">
					<p>
						In the early days of Superior Bands we manufactured and distributed a Polyurethane belt, a Urethane belt, and Urethane / Polyurethane Twisted O-Rings. twisted o-rings, polyurethane belt, urethane belt alternativeAfter a couple of years and extensive testing we realized that our more natural rope elastic Twisted O-Rings work so much more efficiently and are also more durable than a Polyurethane belt or a Urethane belt.
					</p>
					<%= link_to 'Learn More', 'twisted-o-rings.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<h4>Hook and Loop Technology</h4>

					<p>
						Quick Connect Belt with hook and loop means no down time.
					</p>
					<ul class="m-list">
						<li>No special tools required for installation</li>
						<li>No wasted labor costs</li>
						<li>No toxic chemicals</li>
					</ul>
					<%= link_to 'Learn More', 'quick-connect-bolts.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<p>
						Get them in all sorts of different sizes with serveral colors available.
					</p>
					<p>
						Free samples are available!
					</p>
					<%= link_to 'Learn More', 'polyurethane-o-rings.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<p>
						We stock both Regular Spools and Split Spools for your Line Shaft Conveyors. Our Regular Spools are tough and manufactured to keep up with the daily operations of a large Distribution Center.
					</p>
					<%= link_to 'Learn More', 'spools.html', :class=>'u-btn black' %>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>