---
title: Material Handling
---

<section class="m-title">
	<div class="container">
		<h1>Material Handling</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-sm">
		<div class="row">	
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'material-1.jpg', :class=>'margin-md' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'material-2.jpg', :class=>'margin-md' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'material-3.jpg', :class=>'margin-md' %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">	
			<ul ezt="1" class="ezt-nav">
				<li><a href="javacsript:void(0);" class="ezt-active">Polycord</a></li>
				<li><a href="javacsript:void(0);">Polyurethane Belts</a></li>
				<li><a href="javacsript:void(0);">Twisted O-Rings</a></li>
				<li><a href="javacsript:void(0);">Spools</a></li>
			</ul>

			<div ezt="1" class="ezt-container l-root-tab-body">
				<div class="ezt-content ezt-active u-text-center">
					<p>
						Polycord is commonly referred to as poly cord, urethane cord or polyurethane cord. It is the standard material in producing polyurethane belts/ polyurethane orings. It comes on rolls and we sell it by the foot. 
					</p>
					<%= link_to 'Learn More', 'polycord.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<p>
						These are used in numerous applications.  The most common application is in material handling equipment. These are lineshaft conveyors, roller to roller conveyors, pop up diverters, and transfer systems. Conveyor systems are found in large distribution centers and large manufacturers throughout the world.
					</p>
					<%= link_to 'Learn More', 'polyurethane-belts.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<p>
						Twisted o-rings are an excellent alternative to polyurethane belts for lineshaft conveyors, roller to roller conveyors, or transfer belts in the material handling industry. 
					</p>
					<%= link_to 'Learn More', 'twisted-o-rings.html', :class=>'u-btn black' %>
				</div>
				<div class="ezt-content u-text-center">
					<p>
						We stock both Regular Spools and Split Spools for your Line Shaft Conveyors. Our Regular Spools are tough and manufactured to keep up with the daily operations of a large Distribution Center.
					</p>
					<%= link_to 'Learn More', 'spools.html', :class=>'u-btn black' %>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-white' %>
</section>