---
title: Plastic Bag Industry
---

<section class="m-title">
	<div class="container">
		<h1>Plastic Bag Industry</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-md">
		<div class="row-height">
			<div class="col-xs-12 col-sm-4 col-md-6 col-sm-middle col-sm-height">
				<%= image_tag 'plastic-bg.jpg' %>
				<div class="margin-sm"></div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-middle col-sm-height">	
				<ul ezt="1" class="ezt-nav u-left">
					<li><a href="javacsript:void(0);" class="ezt-active">Wicketer Belts</a></li>
					<li><a href="javacsript:void(0);">Flat Cotton Belting</a></li>
					<li><a href="javacsript:void(0);">Drag Brakes</a></li>
				</ul>

				<div ezt="1" class="ezt-container l-root-tab-body">
					<div class="ezt-content ezt-active">
						<p>
							Wicketer Bag Machine Belts are our Speciality. Superior Band's recent acquisition of Lambeth Band Corporation has positioned us as the global leader in wicketer belts.
						</p>
						<%= link_to 'Learn More', 'wicketer-belts.html', :class=>'u-btn u-left black' %>
					</div>
					<div class="ezt-content">
						<p>
							In the late 1980's, Superior Bands Inc. teamed up with a smaller bag Machine company named Roan. We developed elastic rope cotton belts belts for their new wicketer machines. They also reached out to us to develop a flat sewn cotton endless belt for their take away conveyors in 1" and 4 7/8" wide lengths.
						</p>
						<%= link_to 'Learn More', 'flat-cotton-belting.html', :class=>'u-btn u-left black' %>
					</div>
					<div class="ezt-content">
						<p>
							Our Drag Brakes are made with top quality materials, to specifically add more tension into the line of plastic. We manufacture here in the United States with American Products and American Labor. We do things the "right way" from beginning to end.
						</p>
						<%= link_to 'Learn More', 'drag-brakes.html', :class=>'u-btn u-left black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>