---
title: Polyurethane O-Rings
---

<section class="m-title">
	<div class="container">
		<h1>Polyurethane O-Rings</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'polyurethane.jpg' %>
		</div>
		<div class="col-xs-12 col-sm-8">
			<label>
				Length:
			</label>
			<p>Any Size</p>

			<label>
				Diameters:
			</label>
			<p>1/16" to 3/4"</p>

			<label>Colors:</label>
			<p>Several available</p>

			<p>
				Standard sizes in stock and fast turn around.
			</p>

			<p>
				Instant Net terms or Credit Card.
			</p>

			<p>
				No hassle return policy.
			</p>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Material Handling</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Spools', 'spools.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Quick Connect Bolts', 'quick-connect-bolts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Twisted O Rings', 'twisted-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>