---
title: Polyurethane Belts
---

<section class="m-title">
	<div class="container">
		<h1>Polyurethane Belts</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<h4>Polyurethane Belts, Urethane belting, and Urethane belt</h4>
			<p>
				Superior Bands began manufacturing Polyurethane belts, urethane belting and a Urethane belt in 1953. Our focus was on using quality extruded urethane polycord, aligning the joints together precisely and not overgrinding the excess when bonded together. Their poor welds cause failure and breakage shutting down your production. This is why so many cheap imports fail and break. 
			</p>
			<p>
				Polyurethane belts are commonly referred to as urethane belting, urethane belt, o ring belts, round belt conveyor, oring belt, oring drive belt, lineshaft conveyor belt.
			</p>
			<p>
				They are used in numerous applications.  The most common application is in material handling equipment. These are lineshaft conveyors, roller to roller conveyors, pop up diverters, and transfer systems. Conveyor systems are found in large distribution centers and large manufacturers throughout the world.
			</p>
			<p>
				These polyurethane belts or o ring belts are what drive round conveyor rollers to move product throughout large warehouses day in and day out. One of the most common problems is having the wrong size polyurethane belt on your application. If your polyurethane belt or urethane belt is too small, it can pop and break or cause damage to your roller bearings. If the polyurethane belt or urethane belt is too large it will slip and your boxes or material will not move down your line. If you are having a problem, give us a call and we can normally diagnose the problem over the phone with a few measurements. If not, we will gladly come out to your facility to perform a survey to make sure all your polyurethane belting is sized correctly.
			</p>
			<h4>Polyurethane belts or o ring belts are ordered using the following specs:</h4>
			<ul>
				<li>
					Diameter- this is the thickness of the belt- anywhere from 1/8” to almost any thickness, most common in lineshaft conveyors and roller to roller conveyors is 3/16”
				</li>
				<li>
					Durometer- this is the stiffness or hardness of the polyurethane or urethane- 60A-100A, 83A or 85A is the most common
				</li>
				<li>
					Cut length- this is the actual cut length of the belt before it is welded together- This is what causes the majority of problems for customers. The 83A durometer polyurethane belt or o ring belt stretches 10%-12%. So a polyurethane or urethane belt needs to be cut 10% to 12% shorter than the actual tape line measurement. Tape line measurement is the measurement using a string where the urethane belting or o ring belt will actually run. This 10-12% stretch is usually true in lineshaft applications, roller to roller applications, pop up diverters and transfer belts.
				</li>
				<li>
					Color or material of Polyurethane belt- The most common urethane belting is clear. It also comes in a translucent blue, a rough surface green, and an orange for thicker less stretching applications.
				</li>
			</ul>
			<p>
				If you’re having difficulty figuring out the right polyurethane belts or o ring belts for your conveyors, just give us a call. We focus on this aspect of conveyors exclusively and can help you.
			</p>
			<p>
				If your concerned about getting the right size, we give free samples or if you are in a jam we can visit your facility to figure out the solution for you.
			</p> 

		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'polyurethane-1.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'polyurethane-2.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'polyurethane-3.jpg' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Material Handling</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Spools', 'spools.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Twisted O-Rings', 'twisted-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Polycord', 'polycord.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>Credit cards accepted, and free shipping on your first order.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-white' %>
</section>