---
title: Spools
---

<section class="m-title">
	<div class="container">
		<h1>Spools</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'spools-1.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'spools-2.jpg' %>
		</div>
		<div class="col-xs-12 col-sm-8">
			<p>
				We stock both Regular Spools and Split Spools for your Line Shaft Conveyors...Our Regular Spools are tough and manufactured to keep up with the daily operations of a large Distribution Center.
			</p>
			<p>
				Our Split spools will keep things moving and lower your down time. No more disassembling your conveyor to replace spools! These split spools will save you time and money. This is a 2-piece spool that snaps together for easy installation. They will not fall off or come open once installed. There are two types available. The red spool is standard size and the green spool is speed up size which dramatically increases roller speed.
			</p>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Material Handling</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Polyurethane O-Rings', 'polyurethane-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Quick Connect Bolts', 'quick-connect-bolts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Twisted O Rings', 'twisted-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>