---
title: Spools
---

<section class="m-title">
	<div class="container">
		<h1>Spools</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<%= image_tag 'spools-2.jpg', :class=>'u-round' %>
			<div class="margin-md"></div>
			<h4>Spools, roller conveyor spools, split spools, o ring pulley, and C clips</h4>
			<div class="margin-sm"></div>
			<p>
				We stock both Regular Standard Spools and Split Spools for your Line Shaft Conveyors. Our spools are tough and manufactured to keep up with the daily operations of any large Distribution Center. All our spools are used on 1” diameter lineshafts.  Spools are available in 4 different styles:
			</p>
			<ul>
				<li>
					White Standard Spools-  These are your standard spools used with polyurethane belts. They are usually replaced when needed.  To install these the conveyor system is taken apart and the line shaft is dropped. This is usually done during a scheduled maintenance. Standard diameter is 1”
				</li>
				<li>
					Red Split Spools- This is a great product. The spool actually splits apart and is able to be put on the conveyor without removing the line shaft. We highly recommend these with our rope twisted o-rings. 
				</li>
				<li>
					Green Speed up split spool-The green spool is very similar to our red spool. It also splits apart for easy installment. However, it is a larger spool. Using these larger spools will increase your roller speed by 44%. 
				</li>
				<li>
					Black keyed spool- this is a one-piece spool. These are specifically designed for curves, inclines, or where greater drive is needed. They are intended to be used where there will be no accumulation or blockages.
				</li>
			</ul>	
			<%= image_tag 'spools-1.jpg', :class=>'u-small' %>	
			<p>
				Along with our spools we recommend plastic C clips. Plastic C clips are placed on both sides of the spools keeping them in place. Using Plastic C Clips also extends the lifespan of your spools. This keeps your polyurethane belts or twisted o-rings from wearing unevenly and failing prematurely. These c clips are a great investment for very little money.
			</p>
			<p>
				Spilt spools do not require you to disassemble the shaft.
			</p>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Material Handling</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Twisted O-Rings', 'twisted-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Polyurethane Belts', 'polyurethane-belts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Polycords', 'polycords.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-white' %>
</section>