---
title: Twisted O-Rings
---

<section class="m-title">
	<div class="container">
		<h1>Twisted O-Rings</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-lg">
		<div class="col-xs-12 col-sm-8">
			<p>
				In the early days of Superior Bands we manufactured and distributed a Polyurethane belt, a Urethane belt, and Urethane / Polyurethane Twisted O-Rings. twisted o-rings, polyurethane belt, urethane belt alternativeAfter a couple of years and extensive testing we realized that our more natural rope elastic Twisted O-Rings work so much more efficiently and are also more durable than a Polyurethane belt or a Urethane belt. twisted o-ring, polyurethane belt, urethane belt alternative
			</p>
			<p>
				Superior Bands immediately stopped production of Polyurethane belts, Urethane belts, and Polyurethane/ Urethane Twisted O-Rings and focused only on Elastic Rope Twisted O-Rings.
			</p>
			<p>
				Some of the largest chemical companies, pharmaceutical companies, warehouse distribution centers and paint companies use our Rope Elastic Twisted O-Rings.
			</p>
			<p>
				Step up today and see the Superior difference. Here are some of the reasons to try our rope Elastic Twisted O-Rings on your line shaft conveyors or roller-to-roller conveyors instead of a Polyurethane belt or Urethane belt:
			</p>
			<ul class="margin-sm">
				<li>
					Twisted O-Rings DO NOT POP when you lose power and your facility dips below freezing.
				</li>
				<li>
					Superior Bands Twisted O-Rings will stretch and go back to their original form unlike Plastic O-rings which, when stretched, stick to the new length.
				</li>
				<li>
					No toxic chemicals like round O-Rings. Our quick connect hook saves time, which equals money, and reduces hazardous risks from trying to use special tools to connect regular o-rings and the noxious gases given off from trying to weld them together.
				</li>
				<li>
					Less tension with same results....Superior Bands Twisted O-Rings pull less tension on your rollers increasing the life of your roller-to- roller and line shaft roller conveyors while still getting the job done.
				</li>
			</ul>
			<p>Call Superior Bands today to try a better Twisted O-Ring.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'twisted-o-1.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'twisted-o-2.jpg' %>
			<div class="margin-xs"></div>
			<%= image_tag 'twisted-o-3.gif' %>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Material Handling</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Polyurethane O-Rings', 'polyurethane-o-rings.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Quick Connect Bolts', 'quick-connect-bolts.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to 'Spools', 'spools.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>