---
title: Wicketer Belts
---

<section class="m-title">
	<div class="container">
		<h1>Wicketer Belts</h1>
	</div>
</section>

<div class="container">
	<div class="row margin-md">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<p>
				Wicketer Bag Machine Belts are our Speciality. Superior Band's recent acquisition of Lambeth Band Corporation has positioned us as the global leader in wicketer belts.
			</p>
			<%= image_tag 'wicketer-2.jpg', :class=>'u-small' %>
			<p>
				When Dow Chemical developed plastic, they looked to FMC to develop a machine to make something with the new material....FMC reached out to us to develop the belts to run the machines.
			</p>
			<%= image_tag 'wicketer-1.jpg', :class=>'u-small' %>
			<p>
				Still today, our "round rope elastic belts" are the industry standard for the largest plastic bag machine manufacturers in the world. Many of the original bag making companies have changed names and ownership, Superior Bands is still here making the same quality elastic belts that set the standard and are in use in the majority of production floors today.
			</p>
			<%= image_tag 'wicketer-3.jpg', :class=>'u-small' %>
			<p>
				If your company is developing a wicketer bag machine, give us a call for engineering samples and support for our "round rope elastic" wicketer belts today.
			</p>
		</div>
	</div>
</div>
<div class="l-more-links">
	<div class="container">
		<div class="row margin-lg">
			<div class="col-xs-12">
				<h2 class="u-text-center">More on Plastic Bag Industry</h2>
				<div class="row margin-xs">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Flat Cotton Belting', 'flat-cotton-belting.html', :class=>'u-btn block trans-black' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Drag Brakes', 'drag-brakes.html', :class=>'u-btn block trans-black' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="m-cta">
	<h4>For engineering samples and support for your current and future projects.</h4>
	<%= link_to 'Contact Us', 'contact.html', :class=>'u-btn u-btn-lg trans-black' %>
</section>